
.App-header {
  
  background-image: url("../public/maldives-gf6328fccf_1920.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  
}
.presentation{
  text-shadow: 2px 1px 4px rgb(72, 72, 82);
  margin-top: -25%;
 
}
.App-link {
  color: #61dafb;
}
